/* ================================================================================

					 # LAYOUT

================================================================================ */



body, html {
	padding: 0;
	margin: 0;
	background: #ccc;	
}


.page {
    padding-top: 60px;
    
    &__container {
        background: #fff;
    }
}


.primary-nav {
    width: 100%;
}
