/* ================================================================================

								 # LAYOUT

================================================================================ */





.page {
    background: #ccc;
    padding-top: 60px;
}

.page__container {
    background: #fff;
}