/* ================================================================================

				            # MODULES

================================================================================ */





/* -------------------------------------------- NAVIGATION */

.nav-list { /* ul */
    @include gutters (margin, 0, padding, 0);
    @include position (fixed, top, 0, left, 0);
    width: 100%;
    background: #fff;
    
        &--right { /* ul */
            @extend .nav-list;
            text-align: right;
        }
}

    .nav-list__item { /* li */
        display: inline;
        list-style-type: none;   
        margin-right: 40px;
    }

        .nav-list__link { /* a */
            display: inline-block;
            line-height: 50px;
            
                &--right {
                    @extend .nav-list__link;
                    text-align: right;
                }
            
                &--menu {
                    @extend .nav-list__link;
                    display: none;
                }
        }


/*** Responsive state ***/


@media screen and (max-width:468px) {
    
    .nav-list__item { /* li */
        display: block;  
        margin-right: 0;
        width: 100%; 
        
    }
    
    .nav-list__link { /* a */
        display:block;
        line-height: 60px;
        border-bottom: 1px solid #ddd;
        padding: 0;

            &--right {
                text-align: center;
            }
        
            &--menu {
                display: block;
                text-align: center;
            }
    }
    
    .js-responsive-menu-item {
        display: none;
    }

}

