// ================================================================================

				// # ALL VARIABLES

// ================================================================================



// -------------------------------------- MEDIA QUERY BREAKPOINTS ***

$break-lg             :	1200px;
$break-md             :	992px;
$break-sm             :	768px;
$break-xs             :	600px;
$break-xxs            :	599px;
$break-low-res-w      : 1366px;
$break-low-res-h      : 768px;
