// ================================================================================

								// # THEME 1 VARIABLES

// ================================================================================





$colour-1                  : #fff;
$colour-hover              : #ccc;
$colour-border             : #ddd;

$colour-scrollbar-thumb    : #000;
$colour-scrollbar-track    : #eaeaea;