/* ================================================================================

                                  # LAYOUT

================================================================================ */



body, html {
  padding: 0;
  margin: 0;
  background: #ccc;
}


.page {
  padding-top: 60px;
}


.page__container {
  background: #fff;
}


.primary-nav {
  width: 100%;
}





/* ================================================================================

				 # NAVIGATION

================================================================================ */



.nav-list, 
.nav-list--right { /* ul */
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}


.nav-list--right {  /* ul */
  text-align: right;
}


.nav-list__item {  /* li */
  display: inline;
  list-style-type: none;
  margin-right: 40px;
}


.nav-list__link, 
.nav-list__link--right, 
.nav-list__link--menu { /* a */
  display: inline-block;
  line-height: 50px;
}


.nav-list__link--right {
  text-align: right;
}


.nav-list__link--menu {
  display: none;
}



/*** Responsive state ***/

@media screen and (max-width: 468px) {
  .nav-list__item { /* li */
    display: block;
    margin-right: 0;
    width: 100%;
  }


  .nav-list__link, 
  .nav-list__link--right, 
  .nav-list__link--menu {  /* a */
    display: block;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    padding: 0;
  }
  
  
  .nav-list__link--right {
    text-align: center;
  }
  
  
  .nav-list__link--menu {
    display: block;
    text-align: center;
  }
  

  .js-responsive-menu-item {
    display: none;
  }
}
